html,body {width: 100%; height: 100%; min-width: 1200px;}

.wrap_container {height: 100%;}

/* 메인배경 이미지 영역잡기 */
#main_container {
    position: relative;
    height: 100%;
    background-color: #f6ae00;
    overflow: hidden;
}

#main_container > div > span {
    position: absolute;
    display: block;
    width: 1px; height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.main_images { 
    position: absolute; 
    background-repeat: no-repeat;
}

#main_five::before, #main_five::after, #main_six::after,  
#main_eight::after, #main_nine::after, #main_ten::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
}

#main_one {
    top: 10%; left: 0%;
    background-image: url(../images/main_cloud1.png);
    width: 194px; height: 67px;
    animation-name: one-cloud;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes one-cloud {
    0% { left: 0%; }
    100% { left: 100%; }
}

#main_two {
    top: 16%; left: -2%;
    background-image: url(../images/main_cloud2.png);
    width: 96px; height: 37px;
    animation-name: two-cloud;
    animation-duration: 60s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes two-cloud {
    0% { left: -2%; }
    100% { left: 100%; }
}

#main_three {
    top: 2%; right: 40%;
    background-image: url(../images/main_cloud3.png);
    width: 145px; height: 66px;
    animation-name: three-cloud;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes three-cloud {
    0% { right: 40%; }
    100% { right: 100%; }
}

#main_four {
    top: 20%; right: -5%;
    background-image: url(../images/main_cloud4.png);
    width: 209px; height: 64px;
    animation-name: four-cloud;
    animation-duration: 60s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 1;
}

@keyframes four-cloud {
    0% { right: -5%; }
    100% { right: 100%; }
}

#main_five::before {
    left: 306px; bottom: 100px;
    background-image: url(../images/main_line.png);
    width: 68px; height: 99px;
    animation-name: lines;
    animation-timing-function: cubic-bezier(1,-0.43, 0, 1.22);
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
}

@keyframes lines {
    0% { bottom: 94px; }
    50% { bottom: 115px; }
    100% { bottom: 94px; }
}

#main_five {
    bottom: -39px; right: 7%;
    background-image: url(../images/main_castle.png);
    width: 675px; height: 881px;
}

#main_five::after {
    bottom: 176px; right: 102px;
    background-image: url(../images/main_window.png);
    width: 391px; height: 351px;
    filter: drop-shadow(0 0 2px rgba(255, 187, 0, 0.9));

    animation-name: light;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes light {
    0%, 50%, 70%, 100% {opacity: 0;}
    20% {opacity: 0.3;}
    40%, 60%, 80% {opacity: 1;}
    90% {opacity: 0.5;}

}

#main_six {
    bottom: 0; right: 0;
    background-image: url(../images/main_slope2.png);
    width: 1609px; height: 81px;
}

#main_six::after {
    left: 23%; bottom: 21%;
    background-image: url(../images/main_grass.png);
    width: 1209px; height: 82px;
}

#main_seven {
    bottom: 0; left: 0;
    background-image: url(../images/main_slope1.png);
    width: 527px; height: 98px;
}

#main_eight {
    left: 3%; bottom: 5%;
    background-image: url(../images/main_big-bough.png);
    width: 42px; height: 237px;
}

#main_eight::after {
    bottom: 120px; left: -35px;
    background-image: url(../images/main_big-tree.png);
    width: 113px; height: 234px;
}

#main_nine {
    left: 8%; bottom: 4%;
    background-image: url(../images/main_small-bough.png);
    width: 28px; height: 167px;
}

#main_nine::after {
    bottom: 77px; left: -24px;
    background-image: url(../images/main_small-tree.png);
    width: 79px; height: 164px;
}

#main_ten {
    left: 49.5%; bottom: 3%;
    background-image: url(../images/main_lego.png);
    width: 119px; height: 219px;
}

#main_ten::after {
    top: -80px; left: -51px;
    background-image: url(../images/main_ballon.png);
    width: 110px; height: 126px;

    animation-name: ballons;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes ballons {
    0% {top: -80px;}
    50% {top: -82px;}
    100% {top: -80px;}
}

/* 메인 글씨 */

.sub_typo {
    top: 35%;
    position: absolute;

    font-family: "Black Han Sans", Helvetica, sans-serif;
    font-size: 3em;
    color: #ff6700;
    animation-name: pingpong;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#small_type1 {
    left: 26%;
    animation-delay: 5s;
}

#small_type2 {
    left: 29%;
    animation-delay: 5.1s;
}

#small_type3 {
    left: 31.1%;
    animation-delay: 5.2s;
}

#small_type4 {
    left: 33%;
    animation-delay: 5.3s;
}

#small_type5 {
    left: 35%;
    animation-delay: 5.4s;
}

#small_type6 {
    left: 37.3%;
    animation-delay: 5.5s;
}

#small_type7 {
    left: 40.2%;
    animation-delay: 5.6s;
}

@keyframes pingpong {
    0% { top: 35%;}
    30% {top: 29%; color: #c40000;}
    100% {top: 35%;}
}
.main_typo {
    position: absolute;
    top: 45%;

    font-family: "Black Han Sans", Helvetica, sans-serif;
    font-size: 8em;
    color: #004400;

    animation: show 5s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    /* animation-iteration-count: infinite; */
}

#typing1 {
    left: 8%;
    animation-delay: 0s;
}

#typing2 {
    left: 13%;
    animation-delay: 0.1s;
}

#typing3 {
    left: 18.1%;
    animation-delay: 0.2s;
}

#typing4 {
    left: 24%;
    animation-delay: 0.3s;
}

#typing5 {
    left: 30%;
    animation-delay: 0.4s;
}

#typing6 {
    left: 37.5%;
    animation-delay: 0.5s;
}

#typing7 {
    left: 43.5%;
    animation-delay: 0.6s;
}

#typing8 {
    left: 49.3%;
    animation-delay: 0.7s;
}

#typing9 {
    left: 54%;
    animation-delay: 0.8s;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateX(-50px) scale(0.3);
    }
    50% {
        opacity: 0.5;
        transform: translateX(20px) scale(0.5);
        color: #F2542D;
    }
    90% {
        opacity: 1;
        transform: translateX(0) scale(1.2);
    }

    100% {transform: scale(1);}
}
  
/* 내비 영역잡기 */

#w100 {
    background-color: #f6ae00;
    width: 100%;
    position: absolute;
    z-index: 10;
}

#w100.fix {position: fixed; top: 0;}

#header {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}

#logo, #nav {
    float: left;
    margin-left: 100px;
}

#logo {
    padding-top: 13px;
}

#logo > a {display: block;}

#logo > a > img:hover {
    transform: rotate(-30deg);
    transition:.2s;
}

#nav {
    font-family: "Black Han Sans", Helvetica, sans-serif;
    font-size: 20px;
}

#nav > ul::after {content: ""; display: block; clear: both;}

#nav > ul > li {
    float: left;
    margin-left: 20px;

}

#nav > ul > li > a {
    display: block;
    text-decoration: none;
    color: #c40000;
    line-height: 20px;
    padding: 40px;
}

#nav > ul > li.show > a {
    background-image: url(../images/logo_block.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

/* section01배경 블록 영역잡기 */
#sec1_container {position: relative;}

.sec1_images {
    position: absolute;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sec1_images:nth-child(1) {
    left: 150px;
    top: 250px;
    animation-name: green_block;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0, 0, 0.72, 0.99);
}

@keyframes green_block {
    from {top: 250px;}
    50% {top: 258px;}
    to {top: 250px;}
}

.sec1_images:nth-child(2) {
    left: 0;
    bottom: 170px;
    animation-name: thin_green_block;
    animation-duration: 1.4s;
    animation-timing-function: ease-out;
}

@keyframes thin_green_block {
    from {bottom: 170px;}
    50% {bottom: 175px;}
    to {bottom: 170px;}
}

.sec1_images:nth-child(3) {
    top: 450px;
    right: 200px;
    animation-name: red_block;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.79, 0.07, 0.07, 0.6);
}

@keyframes red_block {
    from {top: 450px;}
    50% {top: 457px;}
    to {top: 450px;}
}

.sec1_images:nth-child(4) {
    right: 100px;
    bottom: 200px;
    animation-name: yellow_block;
    animation-duration: 2s;
}

@keyframes yellow_block {
    from {bottom: 200px;}
    50% {bottom: 206px;}
    to {bottom: 200px;}
}

/* section01 1200px 영역잡기 */
#section1_contents {
    position: absolute;
    min-width: 1200px;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* margin-top: 100px; */
}

/* section01_top 영역잡기 */

#section1_top::after {content: ""; display: block; clear: both;}

.top_contents {float: left;}

#introduce_image {
    width: 300px; height: 300px;
    margin-right: 130px;
    margin-left: 20px;
}

#introduce_image > img {
    border-radius: 50%;
}

#top_profile {
    font-family: "Noto Sans KR", Arial, sans-serif;
    font-weight: 400;
    color: #131313;
    padding: 75px 0;
}

#top_profile > p:first-child {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}

#top_profile > p:last-child {
    font-size: 16px;
    line-height: 1.6em;
}

/* section01_mid 영역잡기 */
#section1_mid::after {content: ""; display: block; clear: both;}

#section1_mid {width: 100%;}

.mid_contents {
    width: 33.33%;
    float: left;
}

#section1_top, #section1_mid {margin-bottom: 40px;}

.mid_contents > h4 {
    font-family: "Black Han Sans", Helvetica, sans-serif;
    font-size: 20px;
    color: #0050a6;
    padding-bottom: 15px;
}

.mid_contents > ul > li {
    font-family: 'Noto Sans KR', Times, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #131313;
    line-height: 2em;
}

/* section01_bottom 영역잡기 */
#section1_bottom {
    font-family: "Black Han Sans", Helvetica, sans-serif;
    font-size: 20px;
    color: #0050a6;
}

#skill_image > li {
    display: inline-block;
    padding: 16px;
    text-align: center;
}

#skill_image > li > div {
    background-position: center;
    background-repeat: no-repeat;
    width: 94px;
    height: 130px;
    padding: 10px 0;
}

#skill_image > li > div > span {
    position: absolute;
    display: block;
    width: 1px; height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

#skills_icon1 {background-image: url(../images/skills_ps.png);}
#skills_icon2 {background-image: url(../images/skills_ai.png);}
#skills_icon3 {background-image: url(../images/skills_pr.png);}
#skills_icon4 {background-image: url(../images/skills_ae.png);}
#skills_icon5 {background-image: url(../images/skills_xd.png);}
#skills_icon6 {background-image: url(../images/skills_HTML.png);}
#skills_icon7 {background-image: url(../images/skills_CSS.png);}
#skills_icon8 {background-image: url(../images/skills_JavaScript.png);}
#skills_icon9 {background-image: url(../images/skills_jQuery.png);}


/* section02_배경블록 영역잡기*/
#sec2_container {position: relative;}

.sec2_images {
    position: absolute;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sec2_images:nth-child(1) {
    left: 20px;
    top: 300px;
    animation-name: yellow2_block;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.79, 0.07, 0.07, 0.6);
}

@keyframes yellow2_block {
    from {top: 300px;}
    50% {top: 304px;}
    to {top: 300px;}
}

.sec2_images:nth-child(2) {
    left: 280px;
    bottom: 50px;
    animation-name: green2_block;
    animation-duration: 1.6s;
    animation-timing-function: ease-in-out;
}

@keyframes green2_block {
    from {bottom: 50px;}
    50% {bottom: 53px;}
    to {bottom: 50px;}
}

.sec2_images:nth-child(3) {
    right: 150px;
    top: 250px;
    animation-name: red2_block;
    animation-duration: 1.7s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.38, 0.96);
}

@keyframes red2_block {
    from {top: 250px;}
    50% {top: 257px;}
    to {top: 250px;}
}


.sec2_images:nth-child(4) {
    right: 220px;
    bottom: 100px;
    animation-name: blue2_block;
    animation-duration: 1.4s;
    animation-timing-function: cubic-bezier(0.25,-0.01, 0.58, 1);
}

@keyframes blue2_block {
    from {bottom: 100px;}
    50% {bottom: 103px;}
    to {bottom: 100px;}
}

/* section02 1200px 영역잡기 */

#section2_contents {
    position: absolute;
    min-width: 1200px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* section2_btn 영역잡기 */
#section2_btn > ul {display: inline-block;}

#section2_btn > ul::after {content: ""; display: block; clear: both;}

#section2_btn > ul > li {
    float: left;
}

#section2_btn > ul > li:not(:first-child) {margin-left: 70px;}

#section2_btn > ul > li > a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #131313;
}

#section2_btn > ul > li > a > img:hover {
    transform: rotate(-10deg);
    transition: .2s;
}

/* section2_main 영역잡기 */
#section2_main {
    border: 20px solid #c40000;
    width: 1000px;
    height: 500px;
    box-sizing: border-box;
    margin: 0 auto;

    position: relative;
    overflow: hidden;
}

#section2_main > div > span {
    position: absolute;
    display: block;
    overflow: hidden;
    width: 1px; height: 1px;
    clip: rect(0, 0, 0, 0);
}

#section2_main > div {
    background: url(../images/cgv_main_page.jpg) no-repeat;
    width: 960px;
    height: 460px;
}

#section2_main > div:nth-child(2) {
    background: url(../images/hospital_main_page.jpg) no-repeat;
}

#section2_main > div:nth-child(3) {
    background: url(../images/HaagenDaz_main_page.jpg) no-repeat;
}

.publising_page:hover {
    animation-name: publising_img;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes publising_img {
    from {background-position: top;}
    to {background-position: bottom;}
}


/* section2_bottom_btn 영역잡기 */
#section2_bottom_btn {
    margin-top: 50px;
    font-family: "Black Han Sans", Helvetica, sans-serif;
    font-size: 24px;
}

#section2_bottom_btn > ul::after {content: ""; display: block; clear: both;}

#section2_bottom_btn > ul {
    display: inline-block;
}

#section2_bottom_btn > ul > li {
    float: left;
    padding: 0 50px;
}

#section2_bottom_btn > ul > li > a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #0050a6;
    position: relative;
    line-height: 2;
}

/* #section2_bottom_btn > ul > li > a:hover {
    color: #c40000;
} */

#section2_bottom_btn > ul > li > a::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 5px;
    background-color: #0050a6;
    transition-duration: 300ms;
}

#section2_bottom_btn > ul > li > a:hover::after {
    width: 100%;
    background-color: #c40000;
}

#section2_bottom_btn > ul > li > a:hover {
    color: #c40000;
}

/* section03_배경블록 영역잡기*/
#sec3_container {position: relative;}

.sec3_images {
    position: absolute;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sec3_images:nth-child(1) {
    top: 220px;
    left: 100px;
    animation-name: yellow3_block;
    animation-duration: 1.8s;
    animation-timing-function: cubic-bezier(0.21, 0.04, 1, 1);

}

@keyframes yellow3_block {
    from {top: 220px;}
    50% {top: 225px;}
    to {top: 220px;}
    
}

.sec3_images:nth-child(2) {
    left: 220px;
    bottom: 350px;
    animation-name: blue_thin_block;
    animation-duration: 1.7s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.38, 0.96);
}

@keyframes blue_thin_block {
    from {bottom: 350px;}
    50% {bottom: 357px;}
    to {bottom: 350px;}
}

.sec3_images:nth-child(3) {
    top: 230px;
    right: 150px;
    animation-name: orange_thin_block;
    animation-duration: 1.6s;
}

@keyframes orange_thin_block {
    from {top: 230px;}
    50% {top: 236px;}
    to {top: 230px;}
}

.sec3_images:nth-child(4) {
    right: 200px;
    bottom: 100px;
    animation-name: red3_block;
    animation-duration: 1.8s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.38, 0.96);
}

@keyframes red3_block {
    from {bottom: 100px;}
    50% {bottom: 105px;}
    to {bottom: 100px;}
}

/* section03 1200px 영역잡기 */

#section3_contents{
    position: absolute;
    min-width: 1200px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#banner::after {content: ""; display: block; clear: both;}

#banner > li {
    float: left;
    margin: 0 25px 50px 25px;
}


#banner > li > a {
    display: block;
    overflow: hidden;
}


.screen > img {
    display: block;
    width: 350px;
    height: 230px;
    transition: all 0.6s;  
}

.screen_max:hover > .screen > img {
    transform: scale(1.05);
    cursor: pointer;
}

/* hover시 나타나는 글자 영역잡기 */

.screen_max {width: 350px; height: 230px;}

.screen {
    position: relative;
    overflow: hidden;
}

.screen_top, .screen_bottom {
    position: absolute;
    left: 50px;
    z-index: 10;
    color: white;
    transition: all .35s;
}

.screen_top {
    bottom: 105%;
    font-size: 14px;
    font-weight: 700;
    background-color: #f6ae00;
    border-radius: 20px;
    padding: 10px 15px;
}

.screen_bottom {
    top: 100%;
    font-size: 20px;
    font-weight: 700;
}

.screen_max:hover > .screen > .screen_top {bottom: 55%;}
.screen_max:hover > .screen > .screen_bottom {top: 60%;}

.screen::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all .35s;
}

.screen_max:hover > .screen::after {
    opacity: 1;
}

/* banner_overlay 영역잡기 */

#banner_overlay {
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);

    display: none;
    z-index: 100;
    overflow-y: auto;
}

#banner_overlay > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* max-width: 80%; */
    /* overflow: scroll; */

}


#close {
    position: fixed;
    top: 50px; right: 50px;

    width: 50px;
    height: 50px;

    background-image: url(../images/close_btn.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;

    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition-duration: .2s;

}

#close:hover {
    opacity: 1;
    transform: rotate(180deg);
}

#close > span {
    position: absolute;
    display: block;
    width: 1px; height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);

}

/* section04_배경블록 영역잡기*/
#sec4_container {position: relative;}

.sec4_images {
    position: absolute;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sec4_images:nth-child(1) {
    top: 270px;
    left: 200px;
    animation-name: green4_block;
    animation-duration: 1.7s;
    animation-timing-function: cubic-bezier(0, 0, 0.72, 0.99);
}

@keyframes green4_block {
    from {top: 270px;}
    50% {top: 277px;}
    to {top: 270px;}
}

.sec4_images:nth-child(2) {
    left: 10px;
    bottom: 100px;
    animation-name: orange4_block;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
}

@keyframes orange4_block {
    from {bottom: 100px;}
    50% {bottom: 103px;}
    to {bottom: 100px;}    
}

.sec4_images:nth-child(3) {
    right: 150px;
    bottom: 350px;
    animation-name: red4_block;
    animation-duration: 1.7s;

}

@keyframes red4_block {
    from {bottom: 350px;}
    50% {bottom: 357px;}
    to {bottom: 350px;}
}

/* 메인 이미지 영역잡기 */
#sec4_all {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: url(../images/about-me_back.png) no-repeat;
    width: 1085px;
    height: 620px;
}

#sec4_all > div > span {
    position: absolute;
    display: block;
    width: 1px; height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.sec4_contents {
    position: absolute;
    background-repeat: no-repeat;
}

.sec4_contents:hover {
    cursor: pointer;
}

#aboutme_four::after, #aboutme_five::after, #aboutme_six::after, 
#aboutme_seven::after, #aboutme_eight::after{
    content: "";
    position: absolute;
    top: 0; left: 0;
    background-repeat: no-repeat;
    z-index: -1; 
}

#aboutme_one {
    top: -5%;
    left: 20%;
    background-image: url(../images/about-me_image1.png);
    width: 96px; height: 160px;
    animation-name: building;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);    
}

@keyframes building {
    from { top: -5px; }
    50% { top: 0; }
    80% { top: 5px;}
    to { top: -5px; } 
}        

#aboutme_two {
    top: -5%;
    right: 30%;
    background-image: url(../images/about-me_image2.png);
    width: 142px; height: 166px;
    animation-name: ballon;
    animation-iteration-count: infinite;
    animation-duration: 1.7s;
    animation-timing-function: ease-in-out;
}

@keyframes ballon {
    from { top: -5%; }
    50% { top: -6%; }
    to { top: -5%; }
}

#aboutme_three {
    top: 5%;
    right: 4%;
    background-image: url(../images/about-me_image3.png);
    width: 155px; height: 162px;
    animation-name: tent;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes tent {
    from {transform: rotateZ(3deg);}
    20% {transform: rotateZ(-3deg);}
    50% {transform: rotateZ(5deg);}
    80% {transform: rotateZ(-3deg);}
    to {transform: rotateZ(3deg);}
}

#aboutme_four {
    top: 17%;
    left: 36%;
    background-image: url(../images/about-me_image4.png);
    width: 148px; height: 179px;
    z-index: -1;
}

#aboutme_four::after {
    background-image: url(../images/about-me_image44.png);
    width: 175px; height: 177px;
    top: -47%; left: -18%;
    animation-name: wheel;
    animation-duration: 70s;
    animation-iteration-count: infinite;
}

@keyframes wheel {
    from {transform: rotate(0deg);}
    50% {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}

#aboutme_five {
    bottom: 29%;
    left: 2%;
    background-image: url(../images/about-me_image5.png);
    width: 157px; height: 156px;
    z-index: -1;
}

#aboutme_five::after {
    background-image: url(../images/about-me_image55.png);
    width: 72px; height: 71px;
    top: 24%; left: 51%;
    opacity: 0;
    animation-name: opacity;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes opacity {
    from {opacity: 0;}
    30% {opacity: 0.3;}
    70% {opacity: 1;}
    to {opacity: 0;}  
}

/* #aboutme_five:hover::after {opacity: 1;} */

#aboutme_six {
    bottom: 27%;
    left: 30%;
    background-image: url(../images/about-me_image6.png);
    width: 83px; height: 167px;
}

#aboutme_six::after {
    background-image: url(../images/about-me_image66.png);
    width: 151px; height: 120px;
    top: 9%; left: -41%;
    animation-name: viking;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.43, 0.03, 0.24, 0.97);
}

@keyframes viking {
    from { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    to { transform: rotate(5deg); }
    
}

#aboutme_seven {
    bottom: 42%;
    right: 42%;
    background-image: url(../images/about-me_image7.png);
    width: 123px; height: 146px;
}

#aboutme_seven::after {
    background-image: url(../images/about-me_image77.png);
    width: 79px; height: 95px;
    top: 40px; left: 130px;
    animation-name: car;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes car {
    from {transform: translateX(0);}
    50% {transform: translateX(-10px);}
    to {transform: translateX(0);}
}

#aboutme_eight {
    bottom: 33%;
    right: 10%;
    background-image: url(../images/about-me_image88.png);
    width: 159px; height: 164px;
    z-index: -1;
}

#aboutme_eight::after {
    background-image: url(../images/about-me_image8.png);
    width: 183px; height: 165px;
    top: -7px;
    animation-name: top;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes top {
    from { top: 0; }
    20% { top: -5px; }
    50% { top: 0; }
    90% { top: -5px;}
    to { top: 0; }   
}

#aboutme_nine {
    bottom: 12%;
    right: 28%;
    background-image: url(../images/about-me_image9.png);
    width: 183px; height: 140px;
    animation-name: shaking;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes shaking {
    from {transform: rotateY(20deg);}
    30% {transform: rotateY(-10deg);}
    to {transform: rotateY(20deg);}
}

/* about me 컨텐츠 영역잡기 */
.sec4_wrap {
    position: absolute;
    width: 400px;

    font-family: "Noto Sans KR", Arial, sans-serif;
    text-align: center;

    /* background-color: #FF595E; */
    background-color: #FF595E;
    border-radius: 30px 0 30px 30px;
    display: none;

}

.sec4_title {
    font-size: 20px;
    background-color: transparent;
    color: #fff;

    line-height: 2;
    font-weight: 800;
    padding: 10px 0;
}

.sec4_body {
    font-size: 16px;
    background-color: #fff;
    color: #131313;

    line-height: 1.5;
    margin: 0 20px 20px 20px;
    padding: 20px 0;
    border-radius: 25px 0 25px 25px;
}

.sec4_close {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;

    position: absolute;
    background: url(../images/about-me_close.png) no-repeat;
    width: 70px; height: 40px;
    right: -40px; top: 0
}

.sec4_close > span {
    position: absolute;
    display: block;
    width: 1px; height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.sec4_wrap:nth-of-type(10) {
    top: -5%;
    left: 5%;
}

.sec4_wrap:nth-of-type(11) {
    top: -11%;
    right: 22%;
}

.sec4_wrap:nth-of-type(12) {
    top: 0%;
    right: -7%;
}

.sec4_wrap:nth-of-type(13) {
    top: -5%;
    left: 23%;
}

.sec4_wrap:nth-of-type(14) {
    top: 45%;
    left: -8%;
}

.sec4_wrap:nth-of-type(15) {
    bottom: 17%;
    left: 17%;
}

.sec4_wrap:nth-of-type(16) {
    top: 32%;
    left: 34%;
}

.sec4_wrap:nth-of-type(17) {
    top: 27%;
    right: -1%;
}

.sec4_wrap:nth-of-type(18) {
    bottom: 10%;
    right: 18%;
}